<% provide(:title, "Fotografía") %>

<div class="imagen-foto">
		<h1>Bodas</h1>
		<h2>Guarda tus recuerdos de ese día especial</h2>
</div>



<div class="row">
	<div class="col-md-4">
		<h3>Fotografía de Bodas</h3>
		<p>El día de tu boda será inolvidable. Documentaremos en imagenes cada detalle de ese día tan especial.</p>
	</div>
	<div class="col-md-8">
		<h3>Fotografía de Eventos</h3>
		<p>El día de tu boda será inolvidable. Documentaremos en imagenes cada detalle de ese día tan especial.</p>
	</div>
</div>



