<% provide(:title, "Fotografía") %>

<div class="imagen-foto", style = "background: url(<%= asset_path 'fotoshoots.jpg' %>) no-repeat center center;">
		<h1>Photoshoots</h1>
		<h2>Crea un recuerdo para toda la vida</h2>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<h3>Photoshoots</h3>
		<p>Una sesión planificada para capturar los mejores recuerdos familiares, de pareja o simplemente tu mejor momento.</p>
	</div>	
</div>

<hr align="center" noshade="noshade" size="20" width="100%" />

<div class="imagen-foto", style = "background: url(<%= asset_path 'img-boda1.jpg' %>) no-repeat center center;">
		<h1>Bodas</h1>
		<h2>Guarda tus recuerdos de ese día especial</h2>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<h3>Bodas</h3>
		<p>En el día más importante de tu vida deben estar bien acompañados. Déjanos documentar ese momento para toda la vida.</p>
	</div>
</div>



