<div class="center jumbotron">
  <h1>Viva Invitaciones</h1>

  <h2>
    Nos especializamos en invitaciones para toda ocasión. 
  </h2>

  <%= link_to "Regístrate ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<!--
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            -->