<footer class="footer">
  <small>
    Diseñado por <a target="_blank" href="http://www.lumapel.com">Lumapel</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to image_tag("SquareBlueFacebook.png", alt: "Rails logo", :width => 20) , 'https://www.facebook.com/vivainvita/', target: :_blank %></li>
    <!--   <li><%= link_to "Acerca de",   about_path %></li>
    <li><%= link_to "Contáctanos", contact_path %></li> -->
    </ul>
  </nav>
</footer>