<footer class="footer">
  <small>
    Diseñado por <a href="http://www.lumapel.com">Lumapel</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   about_path %></li>
      <li><%= link_to "Contáctanos", contact_path %></li>
    </ul>
  </nav>
</footer>