 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= image_tag "logo-viva.png", id: "logo", width: 100, alt: "Viva Invitaciones" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Inicio", root_path %></li>
            <li><%= link_to "Ayuda", help_path %></li>
            <li><%= link_to "Iniciar sesión", '#' %></li>
          </ul>
        </nav>
      </div>
 </header>